body {
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./main\ game\ background.png);
    background-position: top;
    background-size: cover;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    font-size: 32px;
    color: blueviolet;
}
#description {
    font-size: 20px;
    color: coral;
}
.middle {
    display: flex;
    flex-direction: column;
}
.middle-top {
    display: flex;
}
#The_Hangman {
    width: 50%;
    height: 400px;
    border: red solid 3px;
}
#letters {
    display: grid;
    grid-template-columns: repeat(5,75px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 400px;
    border: red solid 3px;
    font-size: 32px;
}
.character {
    border-radius: 50%;
    background-color: rosybrown;
    text-align: center;
}