*{
    box-sizing: border-box;
}
body {
    padding-top: 10px;
    /* padding-left: 20px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./main\ game\ background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    font-size: 32px;
    color: blueviolet;
}
#description {
    font-size: 20px;
    color: coral;
}
.middle {
    display: flex;
    flex-direction: column;
} 
.middle-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#The_Hangman {
    /* width: 50%; */
    height: 400px;
}
#hanger {
    position: relative;
    left: 150px;
    width: 150px;
    height: 400px;
}
#head{
    position: relative;
    bottom: 290px;
    left: 241px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: black solid 2px;
    visibility : hidden;
}
#body{
    position: relative;
    bottom: 290px;
    left: 267px;
    width: 2px;
    height: 75px;
    background-color: black;
    visibility : hidden;
}
#left_arm{
    position: relative;
    bottom: 355px;
    left: 249px;
    transform: rotate(45deg);
    width: 2px;
    height: 50px;
    background-color: black;
    visibility : hidden;
}
#right_arm{
    position: relative;
    bottom: 405px;
    left: 285px;
    transform: rotate(-45deg);
    width: 2px;
    height: 50px;
    background-color: black;
    visibility : hidden;
}
#left_leg{
    position: relative;
    bottom: 394px;
    left: 255px;
    transform: rotate(30deg);
    width: 2px;
    height: 50px;
    background-color: black;
    visibility : hidden;
}
#right_leg{
    position: relative;
    bottom: 444px;
    left: 279px;
    transform: rotate(-30deg);
    width: 2px;
    height: 50px;
    background-color: black;
    visibility : hidden;
}
#letters {
    display: grid;
    grid-template-columns: repeat(5,75px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 50%; */
    height: 400px;
    font-size: 32px;
}
.character {
    position: relative;
    height: 40px;
    width: 50px;
    border-radius: 100%;
    padding-top: 3px;
    background-color: rosybrown;
    text-align: center;
    box-shadow: -3px 6px grey;
}
.character:hover {
    background-color: turquoise;
    cursor: pointer;
}

.middle-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 130px;
    height: 50px;
    background-color: cadetblue;
    border-radius: 30%;
    font: 28px  bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}
#reset:hover {
    background-color: blueviolet;
    cursor: pointer;
}

@media (orientation: portrait) and (max-width: 500px) {
    .middle-top{
        display: grid;
        grid-template-columns: 1fr;
    }
    #hanger{
        position: relative;
        left: 100px;
        width: 150px;
        height: 400px;
    }
    #head{
        position: relative;
        bottom: 290px;
        left: 191px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: black solid 2px;
        visibility : hidden;
    }
    #body{
        position: relative;
        bottom: 290px;
        left: 217px;
        width: 2px;
        height: 75px;
        background-color: black;
        visibility : hidden;
    }
    #left_arm{
        position: relative;
        bottom: 355px;
        left: 199px;
        transform: rotate(45deg);
        width: 2px;
        height: 50px;
        background-color: black;
        visibility : hidden;
    }
    #right_arm{
        position: relative;
        bottom: 405px;
        left: 235px;
        transform: rotate(-45deg);
        width: 2px;
        height: 50px;
        background-color: black;
        visibility : hidden;
    }
    #left_leg{
        position: relative;
        bottom: 394px;
        left: 205px;
        transform: rotate(30deg);
        width: 2px;
        height: 50px;
        background-color: black;
        visibility : hidden;
    }
    #right_leg{
        position: relative;
        bottom: 444px;
        left: 229px;
        transform: rotate(-30deg);
        width: 2px;
        height: 50px;
        background-color: black;
        visibility : hidden;
    }
    #letters {
        display: grid;
        grid-template-columns: repeat(4,75px);
    }
}